.calendar-container{
	display: flex;
	flex-wrap: wrap;
	flex-basis: 100%;
	justify-content: center;
	user-select: none;
}

.calendar-year-header{
	font-size: 20px;
    font-weight: bold;
    width: 100%;
    flex-shrink: 0;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 2px solid #e4e4e4;
}

.calendar-year-separator{
    flex-shrink: 0;
	margin-top: 25px;
    width: 100%;
}

.calendar-month{
	display: flex;
	flex-wrap: wrap;
	width: 145px;
    flex-shrink: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.calendar-month-header{
	font-size: 16px;
	font-weight: bold;
	width: 100%;
    flex-shrink: 0;
	text-align: center;
	margin-bottom: 3px;
}

.calendar-month-header-compact{
    margin-left: 10px;
    margin-right: 10px;
    line-height: 16px;
    width: unset !important;
    display: none;
}

.calendar-day{
    width: 20px;
    height: 18px;
    font-size: 10px;
    padding: 2px;
    text-align: center;
    color: #535353;
    cursor: pointer;
}

.date-selected div{
	background-color: #dadadada;
}