.page-contents{
    padding-top: 90px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
}

#page-loading{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 500;
    font-size: 4em;
}

.centered-vertically{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#book-calendar{
    padding: 0; 
}

.date-tooltip{
    display: inline-block;
    margin: 3px;
}

.date-tooltip .cover-image{
    float: left; 
    width: 40px; 
    margin-right: 10px;
}

.date-tooltip .cover-image img{
    width: 100%;
}

.date-tooltip .cover-image .generated-cover-image{
    font-size: 7px;
}

.date-tooltip .book-title{
    font-weight: bold; 
    white-space: nowrap;
    margin-left: 40px;
}

.date-tooltip .book-stats{
    font-size: 0.8em; 
    font-style: italic; 
    white-space: nowrap;
    margin-left: 40px;
}

.generated-cover-image{
    width: 100%;
    height: 100%;
    display: inline-block;
    border: 2px solid gray;
    font-size: 10px;
    padding: 3px;
}

.generated-cover-image .author{
    font-weight: bold;
}

.generated-cover-image .title{
    
}

.summary-container{
}

.book-summary{
    margin-bottom: 20px;
    border-top: 2px solid gray;
    padding-top: 20px;
}

.book-summary .cover-image{
    flex: 0 0 150px;
}

.book-summary .book-plot{
}

.book-summary .cover-image img{
    width: 100%;
}

.book-summary .cover-image .generated-cover-image{
    font-size: 16px;
}

.book-summary .book-stats{
    margin-left: 20px;
    margin-right: 10px;
    max-width: 465px;
}

.book-summary .stats-title{
    font-weight: bold;
}

.book-summary .stats-value{
    
}

.cover-image-list{
    overflow: auto;
}

.cover-image-list .cover-image{
    width: 60px;
    height: 90px;
    margin: 5px;
    cursor: pointer;
    overflow: hidden;
    float: left;
}

.cover-image-list .cover-image img{
    width: 100%;
    height: 100%;
}

.stats-card{
    text-align: center;
    margin: 5px;
    width: 200px;
    float: left;
}

.stats-card .card-header{
    white-space: nowrap;
}

.stats-card .card-value{
    font-size: 1.7em;
}

.stats-card .card-details{
    font-style: italic;
    color: gray;
}

.summary-header span.header{
    cursor: pointer;
}

.cursor-pointer{
  cursor: pointer;
}

.summary-header .input-group{
    display: inline-block;
    width: auto;
    margin-left: 20px;
}

.timeline-container{
    position: relative;
    width: 100%;
}

.timeline-container .item-empty{
    position: absolute;
    background-color: #dddddd;
}

.timeline-container .item{
    position: absolute;
}

.timeline-container .item:hover{
    border: 2px solid gray;
}

.timeline-container .date{
    position: absolute;
    text-align: center;
    font-size: 13px;
    color: #5a5a5a;
    pointer-events: none;
}

.calendar table.month tr td .day-content {
    padding: 1px 6px;
}